xml-veb-servisi/src/main/resources/data/xsd/z1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn-intelektualna-svojina.rs/ZahtevZaPriznanjeZiga"
    xmlns:tip="http://www.ftn-intelektualna-svojina.rs/tipovi"
    xmlns:zzpz="http://www.ftn-intelektualna-svojina.rs/ZahtevZaPriznanjeZiga">
    <xs:import namespace="http://www.ftn-intelektualna-svojina.rs/tipovi"
        schemaLocation="tipovi.xsd"/>
    <xs:element name="Zahtev_za_priznanje_ziga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Podaci_o_instituciji">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Institucija">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Adresa" type="tip:Adresa"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:choice>
                    <xs:element name="Podaci_o_podnosiocu_prijave_osoba"
                        type="tip:Licni_podaci_osoba"> </xs:element>
                    <xs:element name="Podaci_o_podnosiocu_prijave_firma"
                        type="tip:Licni_podaci_firma"/>
                </xs:choice>
                <xs:choice>
                    <xs:element name="Podaci_o_punomocniku_osoba" type="tip:Licni_podaci_osoba"/>
                    <xs:element name="Podaci_o_punomocniku_firma" type="tip:Licni_podaci_firma"/>
                </xs:choice>
                <xs:choice>
                    <xs:element name="Podaci_o_zajednickom_predstavniku_osoba"
                        type="tip:Licni_podaci_osoba"> </xs:element>
                    <xs:element name="Podaci_o_zajednickom_predstavniku_firma"
                        type="tip:Licni_podaci_firma"/>
                </xs:choice>
                <xs:element name="Prijava_se_odnosi_za">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="A">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="individualni zig"/>
                                        <xs:enumeration value="kolektivni zig"/>
                                        <xs:enumeration value="zig garancije"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="B">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="verbalni znak (znak u reci)"/>
                                        <xs:enumeration
                                            value="graficki znak; boju, kombinaciju boja"/>
                                        <xs:enumeration value="kombinovani znak"/>
                                        <xs:enumeration value="trodimenzionalni znak"/>
                                        <xs:enumeration value="drugu vrstu znaka (navesti koju)"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Naznacenje_boje_ili_boja" type="xs:string"/>
                <xs:element name="Transliteracija_znaka" type="xs:string"/>
                <xs:element name="Prevod_znaka" type="xs:string"/>
                <xs:element name="Opis_znaka" type="xs:string"/>
                <xs:element name="Nicanska_klasifikacija" maxOccurs="unbounded">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="3"/>
                            <xs:enumeration value="4"/>
                            <xs:enumeration value="5"/>
                            <xs:enumeration value="6"/>
                            <xs:enumeration value="7"/>
                            <xs:enumeration value="8"/>
                            <xs:enumeration value="9"/>
                            <xs:enumeration value="10"/>
                            <xs:enumeration value="11"/>
                            <xs:enumeration value="12"/>
                            <xs:enumeration value="13"/>
                            <xs:enumeration value="14"/>
                            <xs:enumeration value="15"/>
                            <xs:enumeration value="16"/>
                            <xs:enumeration value="17"/>
                            <xs:enumeration value="18"/>
                            <xs:enumeration value="19"/>
                            <xs:enumeration value="20"/>
                            <xs:enumeration value="21"/>
                            <xs:enumeration value="22"/>
                            <xs:enumeration value="23"/>
                            <xs:enumeration value="24"/>
                            <xs:enumeration value="25"/>
                            <xs:enumeration value="26"/>
                            <xs:enumeration value="27"/>
                            <xs:enumeration value="28"/>
                            <xs:enumeration value="29"/>
                            <xs:enumeration value="30"/>
                            <xs:enumeration value="31"/>
                            <xs:enumeration value="32"/>
                            <xs:enumeration value="33"/>
                            <xs:enumeration value="34"/>
                            <xs:enumeration value="35"/>
                            <xs:enumeration value="36"/>
                            <xs:enumeration value="37"/>
                            <xs:enumeration value="38"/>
                            <xs:enumeration value="39"/>
                            <xs:enumeration value="40"/>
                            <xs:enumeration value="41"/>
                            <xs:enumeration value="42"/>
                            <xs:enumeration value="43"/>
                            <xs:enumeration value="44"/>
                            <xs:enumeration value="45"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Pravo_prvenstva_i_osnov" type="xs:string"/>
                <xs:element name="Placene_takse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Osnovna_taksa">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Za___klasa" type="xs:int"/>
                            <xs:element name="Za_graficko_resenje" type="xs:int"/>
                            <xs:element name="Ukupno" type="xs:double"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Popunjava_zavod">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" name="Prilozi_uz_zahtev">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Primerak znaka"/>
                                        <xs:enumeration value="Spisak robe i usluga"/>
                                        <xs:enumeration value="Punomocje"/>
                                        <xs:enumeration value="Generalno punomocje panije prilozeno"/>
                                        <xs:enumeration
                                            value="Punomocje ce biti naknadno dostavljeno"/>
                                        <xs:enumeration
                                            value="Opsti akt o kolektivnom zigu/zigu garancije"/>
                                        <xs:enumeration value="Dokaz o pravu prvenstva"/>
                                        <xs:enumeration value="Dokaz o uplati takse"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Broj_prijave_ziga">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Godina" type="xs:gYear"/>
                                        <xs:element name="Broj">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                  <xs:minInclusive value="0000"/>
                                                  <xs:maxInclusive value="9999"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Datum_podnosenja" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
